<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802542245005-gns5ck7u7ftckg5kbdlpt4jbd6kms08p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802542245005-gns5ck7u7ftckg5kbdlpt4jbd6kms08p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>802542245005-ltmnbn7t8jqej8s7nr8etg6mn8ublfo9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBsqLreI83Q0sGhAt8rDiOhdBx7mF2wEKY</string>
	<key>GCM_SENDER_ID</key>
	<string>802542245005</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vetadvisor</string>
	<key>PROJECT_ID</key>
	<string>vetadvisor-2d900</string>
	<key>STORAGE_BUCKET</key>
	<string>vetadvisor-2d900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802542245005:ios:405eb593bc6ea58797bec4</string>
</dict>
</plist>